.fullbanner .banner-container {
  position: relative;
}
.fullbanner .banner-container img {
  max-height: 100vh;
}
.fullbanner .banner-container .description-container {
  position: absolute;
  bottom: 4rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: end;
}
.fullbanner .banner-container .description-container h1 {
  font-size: 50px;
  font-weight: 900;
  width: 30%;
  text-transform: uppercase;
  color: #fff;
}
.fullbanner .banner-container .description-container a {
  font-size: 30px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4rem;
  padding: 1rem 3rem;
  background: transparent;
  transition: 0.2s ease-in;
}
.fullbanner .banner-container .description-container a:hover {
  background: #fff;
  color: #000;
}
